rules:
  indent:
    - 2
    - 2
  quotes:
    - 2
    - single
  linebreak-style:
    - 2
    - unix
  semi:
    - 2
    - always
env:
  es6: true
  browser: true
  jasmine: true
  node: true
globals:
  angular: true
  inject: true
  module: true
  moment: true
  TzDate: true
  _: true
  JSData: true
  DSHttpAdapter: true
  fixtures: true
extends: 'eslint:recommended'
